body {
  background-color: rgba(180, 180, 180, 0.699);
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  border-radius: 50px;
  width: 800px;
  height: 400px;
  margin: 50px auto;
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.curr_container {
  border: 1px solid grey;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.curr_select {
  all: unset;
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 15px;
  text-align: center;
  line-height: 50px;
}
.curr_input {
  all: unset;
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 15px;
  text-align: center;
}

.curr_input::-webkit-inner-spin-button,
.curr_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}